body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    
  }
  
  h2, h3 {
    margin: 1em auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
  h1{
    margin-top: 50px;
    padding-top: 50px;
    color: black;
    padding-bottom: 50px;
    font-family: Arial;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  
  .inline{
    display: inline; 
  }
  nav{
    background:linear-gradient(#786767, #898765, #123469);
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    padding: 10px;
    display: flex;
    justify-content: end;
}
nav a{
    color: white;
    font-size: 15px;
    padding-left: 40px;
    font-weight: bolder;
  }

    main{
      width: 800px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    margin-left: 270px;
    margin-top: 100px;
    box-shadow: 0 0 5px 0;
    background:linear-gradient(#786767, #898765, #123469);
    max-width: 500px;
    min-width: 900px;

    }
    footer{
      color: white;
      font-size: 15px;
      text-align: center;
      background:linear-gradient(#786767, #898765, #123469);
         
    }
  
    .icon {
      display: flex;
      justify-content: center; 
      margin-top: 50px;
   }
  .icon1 img{
       width: 30px;
       margin-left:3px;
       margin-right:3px;
       background-color: white;
       margin-top: -35px;
       padding: 7px;
       clip-path: circle();
       margin-bottom: 50px;
      }
  p {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

  
